

input{
	border-radius: 5px 0 0 5px;
}

input[type=text]{
	font-family: 'Source Sans Pro', sans-serif;
	border: none;
	height: 30px;
	padding-left: 10px;
	color: black;
}

input::placeholder{
	font-family: 'Source Sans Pro', sans-serif;
	color: grey;
	font-style: italic;
}

button#btnBuscar{
	height: 32px;
	border: none;
	font-family: 'Source Sans Pro', sans-serif;
	border-radius: 0 5px 5px 0;
	background-color: #bc93bc
}

button#btnBuscar:hover{	
	background-color: #725b72;
}

button#btnBuscar:active{
}

#recipeHolder> li:hover{
	cursor: pointer;
	background-color: #ccb996;
}

#recipeHolder> li:active{
	background-color: #c1b295;
}

#selectClasif:invalid{
	color: gray;
}

#selectClasif{
		font-family: 'Source Sans Pro', sans-serif;
		border-width: 0 0 0 1px;
		height: 32px;
		width: 120px;
}
